:root {
    --tea-green: #CFE0C3;
    --cambridge: #9EC1A3;
    --verdigris: #70A9A1;
    --cerulean: #40798C;
    --gunmetal: #1F363D;
  }
  
  .homepage {
    background-image: url('../images/bg-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    position: relative; 
    background-color: var(--tea-green);
  }
  
  .banner-image {
    display: flex;
    justify-content: space-between;
    background-color: var(--cambridge);
  }
  
  .navbar-brand {
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
  }
  
  h1 {
    color: var(--gunmetal);
    padding: 10px;
  }
  
  .links {
    position: relative;
    text-align: center;
    margin-top: 15px;
  }
  
  .link {
    display: inline;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
  }
  
  a {
    cursor: pointer;
    color: var(--gunmetal);
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .photo {
    margin-top: 20px;
  }
  
  .photo img {
    max-width: 30%;
    height: auto;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
  }

  .resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
  }

  .image {
    width: 500px;
    height: auto;
    transition: width 0.3s ease;
}

  .image:hover {
    width: 550px;
  }

  p {
    text-align: center;
    font-size: larger;
    margin: 20px;
  }
  
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 20px;
  }

  .contact {
    display: flex;
    width: auto;
    background-color: var(--cambridge);
    margin: 50px 300px 75px 300px;
    padding: 20px;
  }
  
  .footer-box{
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  position: relative;
  }

  .contact-info {
    display: flex;
    justify-content: center;
  }

  .contact-info a {
    text-decoration: none;
    margin: 10px;
  }

.image-box {
  width: auto;
  height: auto;
  transition: width 0.3s ease;
}

.image-box:hover {
  -webkit-filter: opacity(.7);
  filter: opacity(.7);
}