/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

:root {
    --tea-green: #CFE0C3;
    --cambridge: #9EC1A3;
    --verdigris: #70A9A1;
    --cerulean: #40798C;
    --gunmetal: #1F363D;
  }
  
  /* .homepage {
    background-image: url('../images/image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  } */
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    position: relative; 
    background-color: var(--tea-green);
  }
  
  .banner-image {
    display: flex;
    justify-content: space-between;
    background-color: var(--verdigris);
  }
  
  .navbar-brand {
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
  }
  
  h1 {
    color: var(--gunmetal);
    padding: 10px;
  }
  
  .links {
    position: relative;
    text-align: center;
    margin-top: 15px;
  }
  
  .link {
    display: inline;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
  }
  
  a {
    cursor: pointer;
    color: var(--gunmetal);
  }
  
  .home-bio {
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  
  .foot {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    background-color: var(--cambridge);
  }
  
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .image {
    width: 300px;
    height: 200px;
  }
  
  .contact {
    display: flex;
    width: auto;
    background-color: var(--cambridge);
    margin: 50px 300px 75px 300px;
    padding: 20px;
  }
  
  .footer-box{
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 12px;
  position: absolute;
  }

  .contact-info {
    display: flex;
    justify-content: center;
  }

  .contact-info a {
    text-decoration: none;
    margin: 10px;
  }

  .image {
    width: 200px;
    height: auto;
    transition: width 0.3s ease;
}

.image:hover {
    width: 250px; /* Set the expanded width on hover */
}

.image-box {
  width: auto;
  height: auto;
  transition: width 0.3s ease;
}

.image-box:hover {
  -webkit-filter: opacity(.7);
   filter: opacity(.7);
}